
@use "../general/var";

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &-item {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(171, 171, 171, 0.06) 100%);
    border-radius: 10px;
    transition-duration: .25s;

    &.accordion-active {
      border: 1px solid rgba(170, 255, 218, 0.40);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(171, 171, 171, 0.06) 100%), #383838;

      .accordion-header {
        &::after {
          transform: translateY(50%);
          opacity: 0;
        }
      }
    }
  }
}

.accordion-header {
  position: relative;
  width: 100%;
  padding: 16px 46px 16px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-width: 0;
  font: {
    size: 20px;
    weight: 500;
  }
  line-height: 1.2;
  letter-spacing: -0.176px;
  text-align: left;
  color: #EBEBEB;
  overflow: hidden;
  background-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    background-color: var.$greyLight;
    transform: translateY(-50%);
    transition-duration: .25s;
  }

  &::before {
    width: 14px;
    height: 2px;
    right: 12px;
  }

  &::after {
    width: 2px;
    height: 14px;
    right: 18px;
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
  padding: 0 20px;
  color: #D1D1D1;
  p {
    margin-bottom: 16px;
  }
}