@use "../general/var";

.nav-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  overflow: hidden;

  @media (min-width: 1024px) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before,
  &::after,
  span {
    position: absolute;
    left: 4px;
    width: 16px;
    height: 2px;
    background-color: var.$accentColor;
    border-radius: 16px;
    transition-duration: .25s;
  }

  &:before {
    top: 5px;
  }

  &:after {
    bottom: 5px;
  }

  span {
    top: 50%;
    transform: translateY(-50%) translateX(0);
  }

  &--open {
    span {
      transform: translateY(-50%) translateX(100%);
      opacity: 0;
    }

    &:before {
      top: 12px;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 10px;
      transform: rotate(-45deg);
    }
  }
}