.section__cta {
  position: relative;
  padding-top: 238px;
  padding-bottom: 100px;
  text-align: center;
  z-index: 1;
  overflow: hidden;

  @media (min-width: 1280px) {
    padding-top: 370px;
    padding-bottom: 170px;
  }

  h2 {
    margin-bottom: 40px;
    font: {
      size: 32px;
      weight: 600;
    }
    line-height: .9;

    @media (min-width: 768px) {
      font-size: 70px;
    }

    @media (min-width: 1280px) {
      max-width: 1432px;
      margin-bottom: 60px;
      font-size: 92px;
    }
  }
}

.cta {
  &__video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%);
    }
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}