@use "../general/var";

.section__reviews {
  h2 {
    margin-bottom: 32px;
  }
}

.reviews {
  &__list {
    display: grid;
    grid-gap: 22px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-gap: 40px;
    }

    @media (min-width: 1440px) {
      grid-gap: 40px 60px;
      grid-template-columns: repeat(2, 600px);
    }

    &-item {
      padding: 16px 20px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.08);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(171, 171, 171, 0.06) 100%), #383838;
    }

    .reviewer {
      display: grid;
      grid-template-columns: 34px 1fr;
      grid-gap: 0 10px;
      align-items: center;
      margin-bottom: 10px;

      &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 100%;
        overflow: hidden;
      }

      &__position {
        font-size: 14px;
        color: var.$greyLight;
        line-height: 1.2;

        &-wrapper {
          display: flex;
          align-items: flex-end;
          column-gap: 6px;
          img {
            width: auto;
            height: 20px;
          }
        }
      }
    }

    .review {
      &__rating {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        column-gap: 10px;
        font-size: 14px;
        color: var.$greyLight;
        line-height: 1.2;
      }

      &__text {
        color: var.$greyLighter;
        overflow: hidden;
      }

      &__toggle-inline {
        color: var.$primaryBtn;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 4px;

        @media (min-width: 1280px) {
          transition-duration: .25s;

          &:hover {
            color: var.$accentColor;
          }
        }
      }
    }
  }
}