.section__thank-you {
  padding-bottom: 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
    font-size: 20px;
  }

  .description {
    max-width: 555px;
  }
}