@use "var";

body {
  background-color: var.$black;
  color: var.$white;
  line-height: 1.4;

  &.body--nav-open {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1460px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

button {
  cursor: pointer;
}