*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}