$black: #0F0F0F;
$white: #fff;

$greyLighter: #CDC6BE;
$greyLight: #737373;
$grey: #4B4B4B;

$darkGreen: #001A17;

$accentColor: #AAFFDA;
$primaryBtn: #43CA90;
$green: #00B164;
$greenSecondary: #007543;

$lightYellow: #FAF4AC;

$orange: #F9A054;